In [61]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [62]:
xgb = pd.read_csv('output/s04.csv')
xgb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 2 columns):
Id       41088 non-null int64
Sales    41088 non-null float64
dtypes: float64(1), int64(1)
memory usage: 963.0 KB

In [63]:
xgb.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,41088,20544.500000,11861.228267,1.00000,10272.75000,20544.500000,30816.250000,41088.000000
Sales,41088,5685.705865,3410.059897,-150.65535,4027.93457,5754.334961,7538.507324,23481.261719

In [64]:
xgb[xgb.Sales < 0] = 0

In [65]:
sds = pd.read_csv('output/s05.csv')
sds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 2 columns):
Id       41088 non-null int64
Sales    41088 non-null float64
dtypes: float64(1), int64(1)
memory usage: 963.0 KB

In [66]:
sds.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,41088,20544.500000,11861.228267,1,10272.75,20544.5,30816.25,41088.0
Sales,41088,5785.720393,3277.202839,0,4386.50,5917.0,7568.00,28347.5

In [67]:
knn = pd.read_csv('output/s_knn_01.csv')
knn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 2 columns):
Id       41088 non-null int64
Sales    41088 non-null float64
dtypes: float64(1), int64(1)
memory usage: 963.0 KB

In [68]:
knn.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,41088,20544.500000,11861.228267,1,10272.750000,20544.500000,30816.250000,41088.000000
Sales,41088,5566.836465,3293.602662,0,3981.636039,5636.837767,7404.920637,26568.019101

In [69]:
xgb2 = pd.read_csv('output/s_xgb_02.csv')
xgb[xgb.Sales < 0] = 0

In [70]:
svr = pd.read_csv('output/s_svr_01.csv')

In [71]:
exgb = pd.read_csv('output/s_exgb_01.csv')

In [72]:
s = DataFrame({'Id': knn.Id, 'Sales': ((5 * xgb.Sales + sds.Sales + knn.Sales + xgb2.Sales + svr.Sales + exgb.Sales)/10)})
s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 2 columns):
Id       41088 non-null int64
Sales    41088 non-null float64
dtypes: float64(1), int64(1)
memory usage: 963.0 KB

In [73]:
s.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,41088,20544.500000,11861.228267,1.000000,10272.750000,20544.500000,30816.250000,41088.000000
Sales,41088,5696.734572,3213.160198,-63.467267,4219.618524,5800.436043,7450.120443,23411.753859

In [74]:
s.to_csv('output/s_comb_04.csv', index=False)